@import './variables.css';
@import './base.css';
@import './header&nav.css';

/*  =============== Reusable CSS Classes ================  */
.container {
  max-width: 1024px;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 2.5rem 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* for aimations */
}


/* ===================== Children ======================= */
.children__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.children__data{
  display: flex;
  flex-flow: column wrap;
  padding: 2rem .5rem;
  border: 1px solid var(--first-color);
  border-radius: 40px;
}

.children__more{
  width: 170px;
  background-color: transparent;
  border: 1px solid var(--first-color);
  border-radius: 50px;
  padding: 8px 17px;
  display: block;
  margin: 2rem auto;
  text-align: center;
  transition: all .1s;
}

.children__more:hover{
  color: var(--white-color);
  background-color: var(--first-color);
}

/* ===================== Adult ======================= */
.adult__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.adult__data{
  display: flex;
  flex-flow: column wrap;
  padding: 2rem .5rem;
  border: 1px solid var(--first-color);
  border-radius: 40px;
}

.adult__more{
  width: 170px;
  background-color: transparent;
  border: 1px solid var(--first-color);
  border-radius: 50px;
  padding: 8px 17px;
  display: block;
  margin: 2rem auto;
  text-align: center;
  transition: all .1s;
}

.adult__more:hover{
  color: var(--white-color);
  background-color: var(--first-color);
}

/* ===================== Holiday ======================= */
.holiday__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.holiday__data{
  display: flex;
  flex-flow: column wrap;
  padding: 2rem .5rem;
  border: 1px solid var(--first-color);
  border-radius: 40px;
}

.holiday__more{
  width: 170px;
  background-color: transparent;
  border: 1px solid var(--first-color);
  border-radius: 50px;
  padding: 8px 17px;
  display: block;
  margin: 2rem auto;
  text-align: center;
  transition: all .1s;
}

.holiday__more:hover{
  color: var(--white-color);
  background-color: var(--first-color);
}
