/*  ========================= Base ===========================  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img, i {
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

input:focus {
  outline: none;
}