@import './variables.css';
@import './base.css';
@import './header&nav.css';
@import './coloring-card.css';
@import './footer.css';
@import './overlay.css';

/*  =============== Reusable CSS Classes ================  */
.container {
  max-width: 1024px;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 2.5rem 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.main {
  overflow: hidden;
  margin-top: 4rem;
}

/*  ================== Category ===================  */
.category__content {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.category__load {
  width: 100%;
  display: block;
  max-width: 700px;
  margin-inline: auto;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  background-color: var(--first-color);
  color: var(--white-color);
}

/*  ================== Responsive ===================  */
@media screen and (min-width: 768px) {
  .category__content{
  grid-template-columns: repeat(4, 1fr);
  }
}