.coloring__card {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 0.5rem;
  border: 1px solid var(--first-color);
  border-radius: 2.5rem;
  overflow: hidden;
  position: relative;
}

.coloring__card-blob {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid var(--second-color);
  margin-bottom: 0.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.coloring__card-img {
  position: absolute;
  width: 100%;
  transform: scale(1.1);
  transition: transform 0.5s, opacity 0.5s;
}

.coloring__card-caption {
  font-size: 0.9rem;
  font-weight: 400;
}

.coloring__card-detail {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--first-color);
}

.coloring__card-detail span {
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 30px;
  border-radius: 0.5rem;
  color: #333;
  background-color: #efefef;
}

.coloring__card-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.coloring__card-buttons span {
  background-color: transparent;
  color: #fff;
  display: none;
}

.coloring__card-buttons button {
  width: 30px;
  height: 30px;
  margin-inline: 1px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.btn__download {
  color: var(--white-color);
  background-color: var(--first-color);
  transition: all 0.1s;
}

.btn__see {
  color: var(--first-color);
}

.btn__like {
  color: red;
}

/* ================= responsive ================== */
@media screen and (min-width: 768px) {
  .coloring__card {
    perspective: 100px;
  }

  .coloring__card-blob {
    aspect-ratio: 4/5;
    margin-bottom: 0;
  }

  .coloring__card-detail {
    height: 70%;
    width: 100%;
    flex-flow: column;
    border-bottom: none;
    position: absolute;
    top: 1rem;
    left: 0;
  }

  .coloring__card-detail > span {
    font-size: 1rem;
    border: 1px dashed #333;
    margin-bottom: 0.5rem;
    align-self: flex-start;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .coloring__card-buttons {
    flex-direction: column;
    width: 90%;
    height: calc(100% - 1rem);
  }

  .coloring__card-buttons button {
    width: 100%;
    height: 33%;
    border-radius: 10px;
    margin-block: 3px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    user-select: none;
    backdrop-filter: blur(3px);
    perspective: 500px;
  }

  .coloring__card-buttons span {
    display: inline;
    font-size: 1rem;
  }

  .coloring__card-caption {
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    background-color: white;
    height: 18%;
    width: calc(100% - 1rem);
    transform: translateY(calc(100% + 1rem));
    border: 2px solid var(--first-color);
    transform-origin: bottom;
    transition: transform 0.5s;
    z-index: 2;
    padding-block: 0.4rem;
    border-radius: 0.5rem;
    overflow-y: scroll;
  }
  .btn__download,
  .btn__like {
    transform-origin: right bottom;
    transform: translateX(1.5rem) rotate(90deg);
  }

  .btn__download {
    transition: transform 0.5s 1.5s;
  }

  .btn__like {
    transition: transform 0.5s 0.5s;
  }

  .btn__like span{
    color: red;
  }

  .btn__see {
    transform-origin: left bottom;
    transform: translateX(-1.5rem) rotate(-90deg);
    transition: transform 0.5s 1s, color .5s;
    color: white;
  }

  .btn__see span{
    transition: color .5s;
  }
  /* ============== animation =============== */
  .coloring__card:hover .coloring__card-caption {
    transform: translateY(0);
  }
  .coloring__card:hover .btn__download,
  .coloring__card:hover .btn__see,
  .coloring__card:hover .btn__like {
    transform: none;
  }

  .btn__see:before,
  .btn__see:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: transform .5s;
    transition-timing-function: cubic-bezier(.79,-0.71,.26,1.63);
  }

  .btn__see:before {
    top: -3px;
    left: -3px;
    background-color: rgb(125, 85, 255);
    transform-origin: top;
  }

  .btn__see:after {
    top: 3px;
    left: 3px;
    background-color: rgb(184, 111, 197);
    transform-origin: bottom;
  }
  
  .btn__see:hover,
  .btn__see:hover> span{
    color: black;
  }

  .btn__see:hover:before{
    transform: rotateX(75deg);
  }

  .btn__see:hover:after{
    transform: rotateX(-75deg);
  }
}
