/* ===================== Header ======================= */
.header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  z-index: 20;
  background-color: var(--white-color);
  box-shadow: 0 0 10px -3px var(--first-color);
  height: auto;
}

.header__logo {
  width: 150px;
  max-width: 200px;
  margin-block: 0.6rem;
}

.header__container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.header__tools {
  display: flex;
  align-items: center;
}

.header__search {
  border: 1px solid var(--second-color);
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding-inline: 10px;
  margin-right: 10px;
}

.header__search-input {
  font-size: 100%;
  border: none;
  padding-inline: 5px;
  width: 100%;
}

.header__search-focused {
  border: 2px solid var(--first-color);
  transition: all 0.2s;
}

.header__search-input::placeholder {
  color: var(--second-color);
  opacity: 0.5;
  letter-spacing: 5px;
}

.search-icon,
.mic-icon {
  width: 20px;
  height: 20px;
  color: var(--second-color);
}
.icon-focused {
  color: var(--first-color);
  font-weight: bolder;
  transition: all 0.2s;
}

.suggestions__container {
  width: 100%;
  max-height: 10rem;
  overflow-y: scroll;
}

.suggestion__item {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: calc(100% - 42px);
  border-bottom: 1px solid var(--second-color);
}

.suggestion-text {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

/* ===================== Navbar ======================= */
.nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.nav__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  right: -100%; /* js */
  padding-top: 90px;
  z-index: 10;
  background-color: var(--white-color);
  width: 75%;
  border-radius: 20px 0 0 20px;
  transition: right 0.5s;
  z-index: 100;
}

.show-menu {
  right: 0;
}

.nav__list {
  display: flex;
  flex-flow: column wrap;
  padding-inline: 10px;
}

.nav__item {
  border-bottom: 1px solid var(--second-color);
  padding-bottom: 0.5rem;
}

.nav__link {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  line-height: 2rem;
  text-transform: capitalize;
}

.nav__close {
  position: absolute;
  background-color: var(--first-color);
  top: 40px;
  right: 10px;
  width: 32px;
  height: 32px;
  padding: 6px 3px;
  border-radius: 8px;
  cursor: pointer;
}

.nav__close i {
  font-size: 1.5rem;
  color: var(--white-color);
}

.nav__open {
  width: 32px;
  height: 32px;
  padding: 3px 1.5px;
  border-radius: 8px;
  background-color: var(--first-color);
  cursor: pointer;
}

.nav__open i {
  font-size: 1.5rem;
  color: var(--white-color);
}

.tags {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
}

@media screen and (min-width: 768px) {
  .nav__menu {
    position: static;
    top: 100px;
    bottom: auto;
    height: auto;
    padding-top: 110px;
    background-color: var(--white-color);
    width: 100%;
    border-radius: 0;
    transition: right 0;
    z-index: 1;
  }

  .nav__list {
    flex-flow: row wrap;
    justify-content: space-between;
    border-block: 1px dashed var(--first-color);

  }

  .nav__item {
    border-bottom: none;
    /* border: 1px solid; */
    padding-block: .5rem;
  }

  .nav__open,
  .nav__close{
    display: none !important;
  }
}
