@import './variables.css';
@import './base.css';
@import './header&nav.css';

/*  =============== Reusable CSS Classes ================  */
.container {
  max-width: 1024px;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 2.5rem 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.main {
  overflow: hidden;
}

/*  ================== Category ===================  */
.category__content {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.category__data {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 0.5rem;
  border: 1px solid var(--first-color);
  border-radius: 2.5rem;
  overflow: hidden;
}

.category__blob {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid var(--first-color);
  margin-bottom: 0.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__blob img {
  width: 100%;
  transform: scale(1.1);
}

.category__caption{
  font-size: .9rem;
  font-weight: 400;
}

.category__detail {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--first-color);
}

.category__detail span {
  font-size: .6rem;
  font-weight: 500;
  line-height: 30px;
  border-radius: 0.5rem;
  color: #333;
  background-color: #efefef;
}

.category__buttons {
  display: flex;
  flex-direction: row-reverse;
}

.category__buttons button {
  width: 30px;
  height: 30px;
  margin-inline: 1px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.btn__download {
  color: var(--white-color);
  background-color: var(--first-color);
  transition: all 0.1s;
}

.btn__download:hover {
  color: var(--first-color);
  background-color: var(--white-color);
  border: 2px solid var(--first-color);
}

.btn__see {
  color: var(--first-color);
}

.btn__like {
  color: red;
}

.category__load {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
  padding-block: .5rem;
  border-radius: 1rem;
  background-color: var(--first-color);
  color: var(--white-color);
}