/*========================= overlay ==========================*/
.overlay{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--overlay-color);
  z-index: 30;
}

.overlay-hidden{
  opacity: 0;
  transform: translateX(-100%);
  transition: transform .5s, opacity .5s;
}

.overlay-show{
  opacity: 1;
  transform: translateX(0);
  transition: transform .5s, opacity .5s;
}